<nav>
    <ul>
        <li><a [routerLink]="['/welcome']" routerLinkActive="active">Welcome</a></li>
        <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>
        <li><a [routerLink]="['/listings']" routerLinkActive="active">Listings</a></li>
        <li><a [routerLink]="['/my-listings']" routerLinkActive="active">My Listings</a></li>
        <li><a [routerLink]="['/sign-up']" routerLinkActive="active">Sign Up</a></li>
        <li><a [routerLink]="['/log-in']" routerLinkActive="active">Log In</a></li>
    </ul>
</nav>

<button (click)="redirectToCreateListing()">Create Listing</button>

<h2>My Listings</h2>

<h3>Yet to be sold:</h3>
<div *ngFor="let dog of unsoldDogs">
    <div class="dog-item">
        <img [src]="dog.image" [alt]="dog.name">
        <p>{{ dog.name }}</p>
        <p>Price: {{ dog.price }}</p>
    </div>
</div>

<hr>

<h3>Sold:</h3>
<div *ngFor="let dog of soldDogs">
    <div class="dog-item">
        <img [src]="dog.image" [alt]="dog.name">
        <p>{{ dog.name }}</p>
        <p>Price: {{ dog.price }}</p>
    </div>
</div>