<nav>
  <ul>
    <li><a routerLink="/welcome" routerLinkActive="active">Welcome</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/listings" routerLinkActive="active">Listings</a></li>
    <li><a routerLink="/my-listings" routerLinkActive="active">My Listings</a></li>
    <li><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a></li>
    <li><a routerLink="/log-in" routerLinkActive="active">Log In</a></li>
  </ul>
</nav>
  
  <div class="welcome-content">
    <h2>A Few Dog Postings:</h2>
    <div class="dogs">
      <div class="dog-item" *ngFor="let dog of dogs">
        <img [src]="dog.image" [alt]="dog.name">
        <p>{{ dog.name }}</p>
      </div>
    </div>
    <hr>
    <h1>Gianna Smith</h1>
    <div class="gianna-info">
      <img src="assets/gianna.jpg" alt="Gianna Smith">
      <div class="gianna-text">
        <p>Hey Everyone. I just used this dog adoption site not long ago to adopt my very first dog. She was exactly as described. I'm so happy I was able to find this site to adopt by very best furry friend.</p>
      </div>
    </div>
    <hr>
    <div class="excited-text">
      <p>Excited to start adopting?</p>
      <button class="adopt-button" (click)="goToListings()">Adopt Now</button>
    </div>
  </div>