<a href="javascript:history.back()" style="color: blue;">Back</a>

<form (submit)="submitListing()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
    </div>
    <div>
      <label for="breed">Breed:</label>
      <input type="text" id="breed" name="breed" [(ngModel)]="formData.breed" required>
    </div>
    <div>
      <label for="age">Age:</label>
      <input type="text" id="age" name="age" [(ngModel)]="formData.age" required>
    </div>
    <!-- <div>
      <label for="gender">Gender:</label>
      <select id="gender" name="gender" [(ngModel)]="formData.gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div> -->
    <div>
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" [(ngModel)]="formData.price" required>
    </div>
    <div>
      <label for="allergies">Allergies:</label>
      <input type="text" id="allergies" name="allergies" [(ngModel)]="formData.allergies">
    </div>
    <div>
      <label for="disability">Disability:</label>
      <input type="checkbox" id="disability" name="disability" [(ngModel)]="formData.disability">
    </div>
    <button type="submit">Submit Listing</button>
</form>