<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#welcome">Welcome</a></li>
                <li><a href="#listings">Listings</a></li>
                <li><a href="#my-listings">My Listings</a></li>
                <li><a href="#sign-up">Sign Up</a></li>
                <li><a href="#log-in">Log In</a></li>
            </ul>
        </nav>

        <h2>Company Mission:</h2>
        <p>Our mission is to re-home dogs in need, providing them with a second chance at a loving forever home. We are dedicated to promoting responsible pet ownership, advocating for animal welfare, and fostering compassionate communities. Through our commitment to excellence in care, transparency, and education, we strive to make a positive impact on the lives of both dogs and humans, one adoption at a time.</p>
        <hr>

        <h2>Company Founders:</h2>
        <div>
            <p>Parker Daniels</p>
            <img src="https://ca.slack-edge.com/T9P33872P-U05CB1F6ERW-3a88b1ccc485-512" alt="Parker Daniels">
        </div>
        <div>
            <p>David Kalarickal</p>
            <img src="https://ca.slack-edge.com/T9P33872P-U05CB1GAF7S-9fb858c44ca0-512" alt="David Kalarickal">
        </div>
        <hr>

        <h2>What you can find on this site:</h2>
        <p>Dog Sellers: On our site you are able to list your dog or dogs for adoption so another dog lover can start taking care of their new loved one. Start by going to the Listings Page and click create new Listing.</p>
        <p>Dog Adopters: On our site you can find the exact dog you are looking for by going to the Listings page and searching for your perfect dog.</p>
        <hr>

        <p>Have a problem or question?<br>
        Contact us here: <a href="mailto:dogadoptioncs@gmail.com">dogadoptioncs@gmail.com</a></p>
    </body>
</html>