<a href="javascript:history.back()" style="color: blue; position: absolute; top: 10px; left: 10px;">Back</a>

<div class="signup-container">
  <form (submit)="signUp()">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="formData.firstname" required>
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="formData.lastname" required>
    </div>
    <div>
      <label for="address">Address:</label>
      <input type="text" id="address" name="address" [(ngModel)]="formData.address" required>
    </div>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="formData.username" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="formData.password" required>
    </div>
    <button type="submit">Sign Up</button>
  </form>

  <div class="login-link">
    <p>Already have an account?</p>
    <button type="button" routerLink="/log-in">Log In</button>
  </div>
</div>