<nav>
    <ul>
      <li><a routerLink="/welcome" routerLinkActive="active">Welcome</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/listings" routerLinkActive="active">Listings</a></li>
      <li><a routerLink="/my-listings" routerLinkActive="active">My Listings</a></li>
      <li><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a></li>
      <li><a routerLink="/log-in" routerLinkActive="active">Log In</a></li>
    </ul>
  </nav>

<router-outlet></router-outlet>